<div class="col-sm-4">
  <meta charset="utf-8">
  <div id="blk-login">
    <div class="warning">

    </div><!-- .warning -->
    <h3>
      <span id="Label3">推薦者登入 Login</span>
    </h3><!-- .form-group -->
    <div class="form-group">


    </div><!-- .form-group -->
    <div class="form-group">


    </div><!-- .form-group -->
    <div class="btns">

      <input type="button" id="Button1" value="NID登入"
        onclick="javascript:window.open('http://opendata.fcu.edu.tw/fcuOauth/Auth.aspx?client_id=637102957247.e9976f5b722a47a6af9beddfeadb70e4.recommend.lib.fcu.edu.tw&amp;client_url=http://recommend.lib.fcu.edu.tw/weblink/scripts/weblink/oauth.aspx', '_top', 'copyhistory=0');"
        class="btn btn-default">
      
    </div><!-- .btns -->
    <div class="help">
      <h4>如何登錄系統</h4>
      <ul>
        <li>帳號：請輸入教職員/學生證號。</li>
        <li>密碼：請輸入NID密碼。(忘記密碼請聯絡資訊處分機2712)</li>
        <li>薦購服務相關問題請洽圖書館讀者服務組2682。</li>
      </ul>
    </div><!-- .help -->
  </div><!-- #blk-login -->
</div>
